<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#fa-icons" data-toggle="tab">Enquiry</a>
                </li>
                <li>
                    <a href="#glyphicons" data-toggle="tab">Installment</a>
                </li>
            </ul>
              <div class="tab-content">

                <div class="tab-pane active" id="fa-icons">
                     <app-enquiry-followup>
                            

                    </app-enquiry-followup> 
                </div>

                <div class="tab-pane" id="glyphicons">
                     <app-installment-followup>

                    </app-installment-followup> 
                </div>

            </div>
        </div>
    </div>
</div>